{% extends "layout.html" %}

{% block title %} Inicia Sesión - CEDICA {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}"/>
{% endblock %}


{% block content %}
<section class="loginbox">
    <div class="formLogin">
    <h1>Iniciar sesión</h1>
    <br>
    <form action="{{ url_for('auth.authenticate')}}" method="POST">
        <div class="input-set">
            <label id="email-label" for="email-field" class="input-label">EMAIL</label>
            <input spellcheck=false id="email-field" class="input-field" name="email" type="email" required><br>
            <span id="email-error" class="input-error"></span>
        </div>
        <br>
        <div class="input-set">
            <label id="password-label" class="input-label" for="password-field">CONTRASEÑA</label>
            <input id="password-field" class="input-field" name="password" type="password" required><br>
            <span id="password-error" class="input-error"></span>
        </div>
        <input class="submit" type="submit" value="Submit">
    </form>
</div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var emailField = document.getElementById("email-field");
            var emailLabel = document.getElementById("email-label");
            var emailError = document.getElementById("email-error");

            var passwordField = document.getElementById("password-field");
            var passwordLabel = document.getElementById("password-label");
            var passwordError = document.getElementById("password-error");
            
            emailField.addEventListener("input", validateEmail);
            passwordField.addEventListener("input", validatePassword);

            function validateEmail(){
                emailLabel.style.top = "-0.2rem";

                if(!emailField.value.match(/^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
                    emailError.innerHTML = "Mail invalido";
                    emailError.style.top = "80%";
                    emailField.style.borderBottomColor = "red";
                    return false;
                }
                else{
                    emailError.innerHTML = "";
                    emailField.style.borderBottomColor = "green";
                    return true;
                }
            }

            function validatePassword(){
                passwordLabel.style.top = "-0.2rem";

                if(passwordField.value.length < 7){
                    passwordError.innerHTML = "Contraseña demasiado corta, faltan " + (7-passwordField.value.length) + " caracteres.";
                    passwordError.style.top = "80%";
                    passwordField.style.borderBottomColor = "red";
                    return false;
                }
                else{
                    if(passwordField.value.match(/^[A-Za-z]+$/)){
                        passwordError.innerHTML = "Incluya un número o caracter especial";
                        passwordError.style.top = "80%";
                        passwordField.style.borderBottomColor = "red";
                        return false;
                    }
                    else{
                        passwordError.innerHTML = "";
                        passwordField.style.borderBottomColor = "green";
                        return true;
                    }
                }
            }            
        });
    </script>
</section>
{% endblock %}
