.icon_select_mate {
  position: absolute;
  top: 12.5px;
  right: 2%;
  height: 16px;
  font-size: 16px;
  transition: all 275ms;
}

.select_mate {
  position: relative;
  float: left;
  width: 200px;
  min-width: 200px;
  min-height: 40px;
  font-size: 0.9rem;
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
}

.select_mate select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  max-height: 20rem;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
  overflow-y: scroll;
}

.cont_select_int li {
  display: block;
  position: relative;
  float: left;
  margin: 0px;
  padding: 10px 2%;
  width: 96%;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f5f5f5;
  list-style-type: none;
  transition: all 275ms ease-in-out;
  cursor: pointer;
}

.cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}

.cont_select_int li:hover {
  background-color: #eeeeee;
}

.cont_select_int .active {
  background-color: #eeeeee;
}

/* etiqueta <p> con la opcion selecionada  */
.selecionado_opcion {
  display: block;
  margin: 0px;
  padding: 12px 2%;
  width: 96%;
  cursor: pointer;
}

/* Dropdown multiple */
/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  width: 250px; /* Adjust width to match your design */
  min-height: 40px;
}

/* Dropdown button */
.dropdown-btn {
  background-color: white;
  padding: 12px 2%;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  font-size: 14.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Panton";
  color: #777;
}

/* Arrow icon */
.arrow {
  font-size: 12px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  margin-top: 5px;
}

/* Each checkbox item */
.checkbox-item {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.checkbox-item label {
  cursor: pointer;
}

.checkbox-item:last-child {
  border-bottom: none;
}

/* Show the dropdown content on button click */
.dropdown.show .dropdown-content {
  display: block;
}

/* Style the checkboxes (hide the default look and style the label) */
.checkbox-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2); /* Enlarge checkboxes */
}

.dates {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.search-btn {
  border: none;
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background-color: white;
  cursor: pointer;
}
