
@font-face {
    font-family: Panton;
    src: url("Panton-Regular.ttf");
  }


.del{
    background-color: #ef233c;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    width: 99%;
    transition-duration: 0.4s;
    color:aliceblue;
}

.warning-msg{
    display:none;
    position: absolute;
    margin: auto;
    width: 35vw;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    padding: 20px;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    z-index: 1000;
}

.warning-msg > *{
    opacity: inherit;
    z-index: 1000;
}

.op{
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: none;
}

.op:hover{
    cursor: pointer;
}

.-re{
    margin-left: 0.5rem;
    background-color: #ef233c;
    color: aliceblue;
    margin-top: 0.25px;
    margin-left: 15.33px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: opacity 0.5s;
}

.-re:hover{
    padding: 10.25px;
    margin-top: 0px;
    margin-left: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9bd67;
}

.-gr{
    color: #78b9bf;
    background-color: white;
}

.-gr:hover{
    background-color: #f4f3ee;
}

.opt{
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.del:hover{
    background-color: rgb(242, 83, 83);
    cursor: pointer;
}

.del[disabled]:hover{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}

.del[disabled]{
    background-color: #f06f7e;
}

.date-field{
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    border: 1px solid darkgray;
    padding: 0.4rem 0.3rem 0.4rem 0.7rem;
    width: 7.5rem;
    margin-top: 0.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.registerbox{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.submit{
    background-color: #F7BC6C;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    transition-duration: 0.4s;
}
.submit:hover{
    background-color: #BA8E4F;
    cursor: pointer;
}

.submit[disabled]{
    background-color: #e1b981;
    color: #415a77;
}

.submit[disabled]:hover{
    background-color: #e1b981;
    cursor:not-allowed;
}

.input-set{
    width: 100%;
    min-height: 3rem;
    position: relative;
    
}

.input-field{
    display: block;
    width: 300px;
    border: 0;
    border-bottom: 2px solid #555;
    background: transparent;
    outline: none;
    padding: 10px 2px;
    position: relative;
    font-size: 1em;
}
.input-label{
    display: block;
    position: absolute;
    top: 1rem;
    left: 2px;
    color: #777;
    font-size: 0.8em;
    transition: 0.7s;
}
.input-error{
    position: absolute;
    top: 50%;
    left: 2px;
    font-size: 0.8em;
    font-weight: 400;
    color: red;
    transition: top 0.4s;
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  top: -0.7rem;
  font-size: 0.7em;
  color: #555;
}

.label{
    top: -0.7rem;
    font-size: 0.7em;
    color: #555;
}

h1{
    text-align: center;
}

.text{
    position: relative;
    margin-top: 1rem;
}

.desc{
    border: 1px solid darkgray;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1rem;


    width: 100%;
    height: auto;
    resize: none;
    overflow: hidden;
    padding: 8px;
    box-sizing: border-box;
    font-family: Panton, Arial, Helvetica;
}

.ltxt{
    top: 0.6rem;
    left: 0.4rem;
    font-size: 0.8rem;
}

.desc:focus ~ .ltxt,
.desc:not(:placeholder-shown) ~ .ltxt {
  top: -1rem;
  font-size: 0.75em;
  color: #555;
}

.select_mate{
    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.simple-text{
    width: 18rem;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    background-color: #e5e5e5;
    border-radius: 15px;
    padding: 1rem;
}