

.input-set{
  width: 100%;
  position: relative;
}

@font-face {
  font-family: Panton;
  src: url("Panton-Regular.ttf");
}

.order-checkbox{
  display: block;
  position: absolute;
  left: 2px;
  font-size: 0.8rem;
  white-space: nowrap;
}

html{
  font-family: Panton, sans-serif;
}

.search-button{
  margin-left: -1.5%;
  border-radius: 0px 25px 25px 0; 
  border-left: none;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-right: 1px solid darkgray;
  padding-right: 0.8rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: white;
  cursor: pointer;
}
.search-mail{
  background-color: white;
  border-right: none;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-left: 1px solid darkgray;
  border-radius: 25px 0 0 25px; 
  outline: none;
  box-shadow: none;
  padding-left: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width:80%;
  min-width: 0;
}

::placeholder{
  font-style: italic;
}

.search-options{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  grid-template-areas: "empt search-bar dropselect booleanValidators";
  
}

@media only screen and (max-width: 650px){
  .search-options{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      margin-right: 5%;
      margin-left: 5%;
      width: 90%;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
      grid-template-areas: "empt" "search-bar" "dropselect" "booleanValidators";
  }
  .search-options > * {
      margin-bottom: 1rem;
  }
}

.dropselect{
  grid-area: dropselect;
  margin-right: 20px;
}

.empty{
  grid-area: empt;
}

.controllers{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: -1rem;
}
.controllers > *{
  margin-left: 1rem;
}
.title-cont{
  font-size: 0.85rem;
}

.search-bar{
  grid-area: search-bar;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.booleanValidators{
  grid-area: booleanValidators;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-space{
  position:relative;
  width: 100%;
  margin-right: 15rem;
}

.checkbox-wrapper-30 .checkbox {
  --bg: #fff;
  --brdr: #d1d6ee;
  --brdr-actv: #1e2235;
  --brdr-hovr: #bbc1e1;
  --dur: calc((var(--size, 2)/2) * 0.6s);
  display: inline-block;
  width: calc(var(--size, 1) * 22px);
  position: relative;
  
  display: block;
  position: absolute;
  left: 13rem;
  top: -0.2rem;
  
  }
  .checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
  }
  .checkbox-wrapper-30 .checkbox > * {
  position: absolute;
  }
  .checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: calc(var(--size, 1) * 4px);
  border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
  }
  .checkbox-wrapper-30 .checkbox input:hover,
  .checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
  }
  .checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
  }
  .checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: var(--brdr-actv);
  transition-delay: calc(var(--dur) /1.3);
  }
  .checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
  }
  .checkbox-wrapper-30 .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke, var(--border-active));
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
  }
  .checkbox-wrapper-30 .checkbox svg,
  .checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
  }

  body {
      background-color: #f9f9f9;
  }
  
  .table-container {
      overflow-x: auto; /* Enable horizontal scrolling */
      margin: 20px 0;  /* Add margin around the table */
  }
  
  table {
      margin-right: 5%;
      margin-left: 5%;
      width: 90%;
      max-width: 100%; /* Ensure it doesn't exceed the viewport */
      border-collapse: collapse;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box; /* Include padding/border in width calculation */
  }
  
  th, td {
      border: 1px solid #ddd;
      padding: 8px; /* Reduced padding */
      text-align: left;
      transition: background-color 0.3s;
      word-wrap: break-word; /* Enable word wrapping */
  }
  
  th {
      background-color: #78b9bf;;
      color: white;
      text-transform: uppercase;
      max-width: 100px; /* Limit max width for headers */
  }
  
  td {
      max-width: 100px; /* Limit max width for data cells */
      overflow: hidden; /* Hide overflow */
      text-overflow: ellipsis; /* Show ellipsis for overflowing text */
      white-space: nowrap; /* Prevent wrapping */
  }
  
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  
  tr:hover {
      background-color: #ddd;
  }
  
  th:first-child, td:first-child {
      border-left: 3px solid #78b9bf;;
  }
  
  th:last-child, td:last-child {
      border-right: 3px solid #78b9bf;
  }
  
  /* Optional: Responsive design for small screens */
  
  .container {
      --color: #a5a5b0;
      --size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-size: var(--size);
      user-select: none;
      fill: var(--color);
      margin-right: 1rem;
    }
    
    .container .chevron-down {
      position: absolute;
      animation: keyframes-return .5s;
    }
    
    /* ------ On check event ------ */
    .container input:checked ~ .chevron-down {
      animation: keyframes-rotate .5s;
      transform: rotate(180deg);
    }
    
    /* ------ Hide the default checkbox ------ */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* ------ Animation ------ */
    @keyframes keyframes-rotate {
      0% {
        transform: rotate(0deg);
        opacity: 0;
      }
    
      100% {
        transform: rotate(-180deg);
      }
    }
    
    @keyframes keyframes-return {
      0% {
        transform: rotate(-180deg);
        opacity: 0;
      }
    
      100% {
        transform: rotate(0deg);
      }
    }




.checkbox-wrapper-10 .tgl {
display: none;
}

.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
background: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn {
outline: 0;
display: block;
width: 4em;
height: 2em;
position: relative;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
position: relative;
display: block;
content: "";
width: 50%;
height: 100%;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after {
left: 0;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:before {
display: none;
}

.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
padding: 2px;
transition: all 0.2s ease;
perspective: 100px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
display: inline-block;
transition: all 0.4s ease;
width: 100%;
text-align: center;
position: absolute;
line-height: 0.7em;
font-size: 0.8rem;
color: #fff;
position: absolute;
top: 0;
left: 0;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 4px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
content: attr(data-tg-on);
color: white;
background-color:#1e2235;
border-radius: 25px;
padding-top: 0.8rem;
padding-bottom: 0.8rem;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {

content: attr(data-tg-off);


background: #f5f5f5;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
border-radius: 25px;
padding-top: 0.8rem;
padding-bottom: 0.8rem;
color: black;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
transform: rotateY(0);
left: 0;
background-color:#1e2235;
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
transform: rotateY(20deg);
}


