{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block title %}Empleados - CEDICA{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="table-header">
        <button class="btn">
            <a href="{{ url_for('employee.new') }}">Nuevo</a>
        </button>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre completo</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Profession ID</th>
                    <th>Job Position ID</th>
                    <th>Obra Social</th>
                    <th>Número de afiliado</th>
                    <th>voluntario</th>
                    <th>Habilitado</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }} {{ employee.surname }}</td>
                    <td>{{ employee.dni }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.profession_id }}</td>
                    <td>{{ employee.job_position_id }}</td>
                    <td>{{ employee.obra_social }}</td>
                    <td>{{ employee.affiliate_number }}</td>
                    <td>{{ employee.is_volunteer }}</td>
                    <td>{{ employee.enabled }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
