{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}Listado de usuarios{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>Alias</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.alias}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}
{% endblock %}