{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
{% endblock %}
{% block title %}VeryOriginalTitle™{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
    <h1>Soy una página de inicio</h1>
    <p>Soy increíble<p>
    <p>Sé que mi existencia es temporal, probablemente muera en una semana, cuando tengan que desarrollar la página real</p>
    <p>Aún así, saber que fuí útil, aunque sea para una entrega, me llena de felicidad</p>
    <button class="boton">No hago nada</button>
{% endblock %}
{% block footer %}
    <p>SoyUnFooter :3</p>
{% endblock %}