<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='flash.css')}}"/>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav>
        <div class="logo" >
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo CEDICA">
            </a>
        </div>
        <button class="nav-menu">
            <span class="menu-bar menu-bar-top"></span>
            <span class="menu-bar menu-bar-middle"></span>
            <span class="menu-bar menu-bar-bottom"></span>
        </button>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="#">J&#38;A</a></li>
            <li><a href="#">Ecuestre</a></li>
            <li><a href="{{ url_for('employee.index') }}">Equipo</a></li>
        </ul>
        <div class="gray-background"></div>
        {% if is_authenticated(session) %}
            <button class="user-logo">
                <img src="{{ url_for('static', filename='user_logo.png') }}" alt="Logo CEDICA">
            </button>

        {% else %}
            <button class="login-btn">
                <a href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
            </button>
        {% endif %}
        <div class="nav-dropdown display-none">
            <ul>
                <li><a href="{{ url_for('user.myprofile')}}">Perfil</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Cerrar sesión</a></li>
            </ul>
        </div>
    </nav>
    <main>

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="flashcontainer">
                    <div class="flash flash-{{category}}">
                        <p>{{ message }}</p>
                        <span class="close">&times;</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <script src="{{ url_for('static', filename='flash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
</body>
</html>
