{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}"/>
{% endblock %}
{% block title %}Información! Very Important{% endblock %}
{% block navbar %}
    
{% endblock %}
{% block content %}
    <h1>I am info</h1>
    <table>
    <tr>
        <th>Número de persona</th>
        <th>Cantidad de horas dormidas</th>
        <th>Veces que se comió una porción de pizza sin respirar</th>
        <th>Status</th>
    </tr>
    {%for dato in datos_reales%}
    <tr>
        <td>{{dato.numero_de_persona}}</td>
        <td>{{dato.cantidad_de_horas_dormidas}}</td>
        <td>{{dato.veces_que_se_comio_una_porcion_de_pizza_sin_respirar}}</td>
        <td>{{dato.status}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
{% block footer %}
    <p>SoyUnFooter :3</p>
{% endblock %}