{% extends "layout.html" %}
{%block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdownSearch.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collectionIndex.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css')}}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}Cobros - CEDICA{% endblock title %}
{% block content %}
    <section class="section">
        <form id='search-options' class='search-options' style="margin-top:2rem;" method="GET" action="{{url_for('collection.index')}}">
            <div class="orden">
                <p class="sndlabel">Ordenado por:&nbsp;&nbsp;&nbsp;</p>
                <div class="checkbox-wrapper-10">
                    <input name="ascending" value="1" {% if startAscending %} checked {% endif %} type="checkbox" id="cb5" class="tgl tgl-flip">
                    <label for="cb5" data-tg-on="Más antiguo" data-tg-off="Más reciente" class="tgl-btn"></label>
                </div>
            </div>

            <input id="page" type="number" name="page" style="display:none;">

            <div class="filtro">
                <div class="dropselect">
                    <div class="select_mate" data-mate-select="active" >
                        <select name="medium" id="mySelect">
                            <option value="" >Sin filtros de medio de pago</option>
                            {% for medium in mediums %}
                                <option value="{{medium.name}}" {% if start_medium == medium.name %}selected{% endif %}>{{ medium.name }}</option>
                            {% endfor %}
                        </select>
                        
                        <p class="selecionado_opcion"  onclick="open_select(this)" ></p>
                        <span onclick="open_select(this)" class="icon_select_mate" >
                            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                <path d="M0-.75h24v24H0z" fill="none"/>
                            </svg>
                        </span>
            
                        <div class="cont_list_select_mate">
                            <ul class="cont_select_int">  </ul> 
                        </div>
                    </div>
                </div>
            </div>

            <div class='fechas'>
                <label for="start_date">Desde:</label>
                <input value="{{dfrom}}" id="from" class="fecha" type="date" name="from">
                <br>
                <label for="end_date">Hasta:&nbsp;</label>
                <input value="{{until}}" id="until" class="fecha" type="date" name="until">
            </div>

            <div class="busquedas">
                <div id="controllers" class="controllers" style="margin-bottom:1rem">
                    <div class="dropselect">
                        <div class="select_mate" data-mate-select="active" >
                            <select name="search_attr">
                                <option {% if start_search_attr == 'name' %}selected{% endif %} value="name">Nombre</option>
                                <option {% if start_search_attr == 'surname' %}selected{% endif %} value="surname">Apellido</option>
                            </select>
                            
                            <p class="selecionado_opcion"  onclick="open_select(this)" ></p>
                            <span onclick="open_select(this)" class="icon_select_mate" >
                                <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                    <path d="M0-.75h24v24H0z" fill="none"/>
                                </svg>
                            </span>
                
                            <div class="cont_list_select_mate">
                                <ul class="cont_select_int">  </ul> 
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="search-bar">
                    <input spellcheck=false type="text" name="search_value" class="search-mail" placeholder="Buscar por {{ search_attr_esp }} de recibe" value={{start_search_val}}>
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        {% if collections|length > 0 %}
        <div class="table-container">
          <table>
              <thead>
                  <tr>
                      <th>Jinete y Amazonas</th>
                      <th>Fecha de pago</th>
                      <th>Medio de pago</th>
                      <th>Monto</th>
                      <th>Recibe el dinero</th>
                  </tr>
              </thead>
              <tbody>
                  {% for i in range(collections|length) %}
                      <tr {% if is_permitted(session, 'collection_show') %} onclick="window.location='{{ url_for('collection.show', id=collections[i].id) }}'" style="cursor:pointer;"{% endif %}>
                          <td>{{ collections[i].paid_by.name }} {{ collections[i].paid_by.last_name }}</td>
                          <td>{{ collections[i].date.strftime("%d/%m/%Y %H:%M:%S") }}</td>
                          <td>{{ collection_mediums[i].name }}</td>
                          <td>{{ collections[i].amount }}</td>
                          <td>{{ collections[i].received_by.name }} {{ collections[i].received_by.surname }}</td>
                        </tr>
                  {% endfor %}
              </tbody> 
          </table>
        </div>
        {% else %}
          <h1 class="alternative-title">No se encontró ningún cobro</h1>
        {% endif %}
    </section>
    <br>
    <div class="page-section">
        <nav class="theNav">
            <ul class="pagination">
                <li class="pagination-item">
                    <a id="prev" class="ext" href="#">Previo</a>
                </li>
                {% for i in range(pages) %}
                    {% if ((i > startPage-6) and (i < startPage+5)) or ((5 >= startPage) and (i < 10)) or (pages - startPage < 5 and i > pages - 11) %}
                        <li class="pagination-item {% if startPage == i+1 %}active{% endif %}">
                            <a class="pageNum">{{i+1}}</a>
                        </li> 
                    {% endif %}
                {% endfor %}
                <li class="pagination-item">
                    <a id="next" class="ext" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
        <hr>
    </div>
    <script>
        startPage = {{startPage|tojson}}
        pages = {{pages|tojson}}
    </script>
    <script src="{{ url_for('static', filename='js/pagination.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dropdownSearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/formsubmission.js')}}"></script>
{% endblock content %}