{% extends "layout.html" %}
{% block title %} Registrar cobro - CEDICA{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropdown.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collectionRegister.css')}}"/>
{% endblock head %}

{% block content %}
    <section class="registerbox">
        <div class="formRegister">
            <h1>Registar Cobro</h1>
            <form class='form' action="{{ url_for('collection.upload')}}" method="POST">
                <div class="input-set" style="width:fit-content;">
                    <input step="0.01" placeholder="" id="amount-field" class="input-field" name="amount" type="number" required><br>
                    <label for="amount-field" class="input-label">MONTO</label>
                    <span id="amount-error" class="input-error"></span>
                </div>
                <div class="input-set" style="width:fit-content;">
                    <label class='label' for="date-field">FECHA DE PAGO</label>
                    <input id="date-field" class="date-field" name="date" type="date" required><br>
                    <span id="date-error" class="input-error"></span>
                </div>

                <div class="input-set">
                  <label id="rider-label" class="select-label" for="rider-field">J&amp;A</label>
                  <div class="select_mate" data-mate-select="active">
                    <select name="rider" id="sel-rider">
                        {% for rider in riders %}
                          <option value="{{ rider.id }}">{{rider.name}} {{rider.last_name}} ({{rider.dni}})</option>
                        {% endfor %}
                    </select>
                  
                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p>
                    <span onclick="open_select(this)" class="icon_select_mate" >
                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                            <path d="M0-.75h24v24H0z" fill="none"/>
                        </svg>
                    </span>
            
                    <div class="cont_list_select_mate">
                      <ul class="cont_select_int">  </ul>
                    </div>
                  </div>
                </div>

                <div class="input-set">
                  <label id="medium-label" class="select-label" for="medium-field">MEDIO DE PAGO</label>
                  <div class="select_mate" data-mate-select="active">
                    <select name="medium" id="sel-medium">
                        {% for medium in mediums %}
                          <option value="{{ medium.id }}">{{ medium.name }}</option>
                        {% endfor %}
                    </select>
                  
                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p>
                    <span onclick="open_select(this)" class="icon_select_mate" >
                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                            <path d="M0-.75h24v24H0z" fill="none"/>
                        </svg>
                    </span>
            
                    <div class="cont_list_select_mate">
                      <ul class="cont_select_int">  </ul>
                    </div>
                  </div>
                </div>

                <div class="input-set">
                  <label id="emp-label" class="select-label" for="emp-field">RECIBE EL DINERO</label>
                  <div class="select_mate" data-mate-select="active" >
                    <select name="emp" id="sel-emp">
                        {%for emp in employees%}
                            <option value="{{emp.id}}">{{emp.name}} {{emp.surname}} ({{emp.dni}})</option>
                        {% endfor %}
                    </select>
                    
                    <p class="selecionado_opcion"  onclick="open_select(this)" ></p>
                    <span onclick="open_select(this)" class="icon_select_mate" >
                        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                            <path d="M0-.75h24v24H0z" fill="none"/>
                        </svg>
                    </span>
  
                    <div class="cont_list_select_mate">
                      <ul class="cont_select_int">  </ul> 
                    </div>
                  </div>
                </div>

                <div class='text input-set'>
                    <textarea maxlength="255" oninput="autoResize(this)" placeholder="" id="obs-field" class="input-field desc" name="obs"></textarea>
                    <label class='input-label ltxt' for="obs-field">OBSERVACIONES</label>
                    <span id="obs-error" class="input-error"></span>
                </div>

                <button disabled id="form-submit" class='submit'>Registrar</button>
            </form>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/dropdownVanilla.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/createCollection.js') }}" ></script>

    <script>
        function autoResize(textarea) {
          textarea.style.height = 'auto';
          textarea.style.height = textarea.scrollHeight + 'px';
        }
    </script>
{% endblock content %}